*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    background-image: url(background.png);
}
#titre{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #37e1a0;
    font-size: 400%;
}
main{
    background-image: url(background.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.global{
    background-color: rgb(237, 214, 179);
    border-radius: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 80vh;
    justify-self: center;
    border: 3px solid #37e1a0;
    gap: 20px;
}

/* progress{
    width: 80%;
    height: 5%;
    background-color:blueviolet;
} */

.progress-bar{
    width: 200px;
    height: 20px;
    border: 2px solid white;
}

.progress{
    background-color:  #37e1a0;
    width: 20%;
    height: 20px;
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 60vh;
    font-size: 100%;
    border:  #37e1a0 solid;
    border-radius: 12%;
    gap: 29px;
    
}
input{
    height: 100%;
    font-size: 200%;
}

.choix{
    background-color: #37e1a0;
    height: 5vh;
    display: flex;
    border-radius: 12%;
    justify-content: center;
}
.list-choix {
    display: flex;
    flex-direction: column;
    gap:15px;
}

button{
    justify-self: center;
    background-color: #37e1a0;
    border: none;
    height: 4vh;
    width: 20vh;
    border-radius: 40%;
}
button:hover{
    border: 6px solid  #37e1a0; 
}

